body {
    background-color: #c1d9b4;
    font-family: 'Ubuntu', sans-serif;
}

hr{
    border: 2px;
    height: 0;
    border-top: 5px solid rgba(148, 227, 132, 0.1);
    border-bottom: 5px solid rgba(74, 113, 74, 0.3);
}

.team_name{
    font-size: 35px;
    margin: auto;
    width: 70%;
    height: 45px;
    margin-top: 7px;
    padding: 15px;
    border: 3px solid #326b51;
    background-color: #e7f2e4;
}

.welcome_gif{
    width: 100px;
}

.mmr{
    font-size: 25px;
    margin: auto;
    border-radius: 25px;
    margin-top: 40px;
    width: 350px;
    border: 3px solid #326b51;
    background-color: #e7f2e4;
}

.email{
    font-size: 25px;
}

.emailList{
    background-color:#e7f2e4;
    margin: auto;
    border-radius: 50px;
    width: 50%;
    margin-top: 50px;
    border: 3px solid #326b51;
    padding-bottom: 150px;
}

li {
    margin: auto;
}

.redirect_buttons {
    margin: 30px;
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #354157;
    background-color: #e7f2e4;
    border: 3px solid #326b51;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #354157;
    text-decoration: none
}

.edit_team_page{
    margin: 20px;
}

.home_page{
    margin: 20px;
}

.delete_team{
    margin: 20px;
}

.logout{
    margin: 20px;
}