<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylecalendar.css' %}">
    <title> {{viewing_team}} Team Calendar </title>
</head>

<div style="text-align: center; margin-top: 2%">
    <h1 style="font-size: 40px"> Team {{viewing_teamname}} Calendar</h1>
    <h2 style="font-size: 32px"> Team Captain: {{viewing_team}}</h2>
</div>



{% if messages %}

    <div align="center">

        {% for message in messages %}
            <div class="alert alert-primary" role="alert" id="msg" style="width: 500px">
            {{ message }}
            </div>

        {% endfor %}
    </div>


{% endif %}

<script>
    setTimeout(function(){
        if ($('#msg').length > 0) {
            $('#msg').remove();}
    }, 2000)
</script>


<body>
    <div class="redirect_buttons" style="text-align: center ; margin-top: 2%">
        <button class="btn">
            <a class="previous_month_btn" href="{% url 'calendar' viewing_team %}?{{ last_month }}"
               style="text-decoration: none"> Previous Month </a>
        </button>
	    {% if viewing_team == current_team %}
            <button class = "btn">
                <a class="new_timeslot_btn" href="{% url 'timeslot_new' current_team %}"
                   style="text-decoration: none"> Add New Time Slot </a>
            </button>
        {% endif %}
        <button class = "btn">
            <a class="next_month_btn" href="{% url 'calendar' viewing_team %}?{{ next_month }}"
                style="text-decoration: none"> Next Month </a>
        </button>
    </div>
    <div class="calendar" style="margin-top: 2%">
        {{ calendar }}
    </div>
    <div class="redirect_buttons" style="text-align: center; margin-top: 2%; margin-bottom: 3%">
        <button class="btn">
            <a class="home_btn" href="{% url 'home_page' current_team %}"
                   style="text-decoration: none"> Back to Home Page </a>
        </button>
    </div>

</body>
</html>