<!DOCTYPE html>{% load static %}
<html lang="en">

    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
        </script>

        <script src=
    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
        </script>

<link href=
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />

{% load static %}
<head>
{# Load in the Ubuntu font stylesheet and the static CSS style.css file. #}
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Team Home Page</title>
</head>

<div style="text-align: center"><h1 style="font-size: 50px"> Team <u>{{ centered_team.username }}</u></h1></div>

<body>
{# Adds the search bar at the top of the screen. #}
<div class="search_area" align="center">
    <form method="POST" action="{% url 'team_search'%}">
        {% csrf_token %}

        <input class="search_bar" type="search" align="center" placeholder="Enter Team Name or Coordinates" name="team_search", id="tags">
        <script>
            var x = {{ teams|safe }};
            $( "#tags" ).autocomplete({source: x});
        </script>
    </form>
</div>

<div class="row">
    {#Adds the Top 5 Teams label above the teams list table. #}
    <div class="top_teams">
        <p class="teams_label" align="center">Top 5 Teams</p>


        <table>
            {#Adds each value in top_teams_list into the table as a new row. #}
            {% for team in top_teams_list %}
            <tr>
                <td>{{ team.teamname }}</td>
                <td>{{ team.mmrScore }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{# Adds a box where the map API should go next to the map box. #}
    <div class="map_space"  align="center">
        <div id="googleMap" style="width:100%; height:100%;">


           <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}"></script>
           <script type="text/javascript">

          // Kind of like a global map variable, while inside the script
          var map;

          // Function opens callback to infowindow
          function infoCallback(infowindow, marker) {
           return function() { infowindow.open(map, marker); };
        }

          // Javascript initialize map function
          function initialize(all_teams) {

              // centered around chosen team
              centered_long = {{centered_team.longitude}}
              centered_lat = {{centered_team.latitude}}

              // Make a new map
              var map = new google.maps.Map(document.getElementById("googleMap"), {
              center: new google.maps.LatLng(centered_lat, centered_long),
              zoom: 12,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });


              // Makes multiple markers FOR ALL TEAMS
              {% for team in all_teams %}

                    var teamlat = {{ team.latitude }}
                    var teamlong = {{ team.longitude }}
                    var team = "{{ team.username }}"


                    var marker = new google.maps.Marker({
                        position: { lat: teamlat, lng: teamlong },
                        map: map,
                        title: team,
                    });

                    var infowindow = new google.maps.InfoWindow({
                        content: "<div class=infowindow>" +
                            "<h1>Team: {{ team.username }}</h1>" +
                            "<p>MMR Score: <b>{{ team.mmr_score }}</b></p>" +
                            "<p>Longitude: {{ team.longitude }}</p>" +
                            "<p>Latitude: {{ team.latitude }}</p>" +
                            "<p>Email: {{ team.email }}</p>" +
                            "<a href='/{{team.username}}'> 'Check them out!' </a></div>"

                    });

                  // Add clickable listener on map
                  //  marker.addListener('click', function() {
                        //window.location.href = this.url;
                    //    infowindow.open(map,marker);
                    //})

                  google.maps.event.addListener(marker, 'click', infoCallback(infowindow, marker));

                {% endfor %}

        }

          // Create the map
          google.maps.event.addDomListener(window, 'load', initialize)

        </script>

        </div>
    </div>
</div>

{# Adds a div where the redirect buttons should go. #}
<div class="redirect_button">
    <button type="button" class="login_button">
    <a class="login_link" align="center" href="{% url 'index' %}"
       style="text-decoration: none; color: #354157">Go to Login Page</a>
    </button>

    <button>
    <a class="team_button" align="center" href="#"
       style="text-decoration: none; color: #354157">Go to Team Page</a>
    </button>
</div>

</body>
</html>