<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styleteam.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <title>Team Name</title>
    </head>

    <body>
        <div class = "team_name" align ="center">
            <p class="team_name">[Insert Team Name Here]</p>
        </div>

        <div class = "mmr" align ="center">
            <p class="mmr_score">Team MMR Score: </p>
        </div>

        <div class = "emailList" align="center">
            <p class="email">Team Member Email List</p>
            <ul>
                <li>for loop somewhere here for emails from database</li>
            </ul>
        </div>

        <div class="calendar">
            <p class="insert_calendar" align="center">[Insert calendar here]</p>
        </div>

        <div class="redirect_buttons" align="center">
            <p class="edit_team_page" style="display:inline-block;"><a href="#">Edit Team Page</a></p> 
            <p class="home_page" style="display:inline-block;"><a href="/pick_up_app/home_page/">Go to Home Page</a></p> 
            <p class="delete_team" style="display:inline-block;"><a href="#">Delete Team</a></p> 
            <p class="logout" style="display:inline-block;"><a href="/pick_up_app/login/">Logout</a></p> 
        </div>

    </body>
</html>