<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styleteam.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <title>Team Page</title>
    </head>

    <body>
        <hr>
        <div class = "teamName" align ="center">
            <p class="team_name">Team Page Of: {{user.username}}</p>
        </div>
        <hr>

        <div class="container1">
            <div><img src="{% static 'pick up app/media/minions.gif' %}" alt="spin" style="position: relative;width: 320px; top: 25px; left: 0;float: left; margin-left: 20px"></div>
            <div><img src="{% static 'pick up app/media/aerobics-dreamteam.gif' %}" alt="spin" style="position: absolute; width: 310px;top:330px; left: 10px;float: left; margin-left: 20px"></div>
        </div>
        <div class = "mmr" align ="center">
            <p class="mmrScore">Team MMR Score: {{user.mmrScore}}</p>
        </div>
  
        <div class = "emailList" align="center">
            <p class="email">Team Member Email List</p>
            <ul>
                <li>{{user.email}}</li>
            </ul>
        </div>

        <div><img src="{% static 'pick up app/media/spongebob.gif' %}" alt="spin" style="position: absolute; width: 300px; top: 340px; right: 10px;float: right; margin-right: 20px"></div>
        <div><img src="{% static 'pick up app/media/powerrangers.gif' %}" alt="spin" style="position: absolute; width: 300px; top:150px; right: 10px;float: right; margin-right: 20px"></div>

        <div class="redirect_buttons" align="center">
            <p class="calendar" style= "display:inline-block;"><a href="{% url 'calendar' username %}">View Team Calendar</a></p> 
            <p class="edit_team_page" style="display:inline-block;"><a href="{% url 'edit_team' username %}">Edit Team Page</a></p> 
            <p class="home_page" style="display:inline-block;"><a href="{% url 'home_page' username %}">Go to Home Page</a></p> 
            <p class="delete_team" style="display:inline-block;"><a href="#">Delete Team</a></p> 
            <p class="logout" style="display:inline-block;"><a href="{% url 'index' %}">Logout</a></p> 
        </div>

    </body>
</html>