body {
  background-color: lightblue;
}

div {
  background-color: lightblue;
}

p {
  background-color: yellow;
}


.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.container {
                        display: flex;
                        flex-direction: column;
                    }

                    .container__main {
                        /* Take the remaining height */
                        flex-grow: 1;

                        /* Layout the left sidebar, main content and right sidebar */
                        display: flex;
                        flex-direction: row;
                    }

                    .container__left {
                        width: 25%;
                    }

                    .container__middle {
                        /* Take the remaining width */
                        flex-grow: 1;
                    }

                    .container__right {
                        width: 20%;
                    }
